<div class="container text-center">
  <h1><span>Edit profile<span></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row pt-4">
      <div class="col d-flex justify-content-center">
        <% if @account.avatar.persisted? %>
          <%= image_tag @account.avatar, class: "img-round"%>
        <% else %>  
          <%= image_tag "default.png", width: "100px"%>
        <% end %>
      <%= f.file_field :avatar, class:"pt-5 px-2" %>
    </div>

    <div class="row row-cols-3 pt-4">
      <div class="field">
        <b><%= f.label :username %><br /></b>
        <%= f.text_field :username, autofocus: true, class:"resizedTextbox"%>
      </div>

      <div class="field">
        <b><%= f.label :first_name %><br /></b>
        <%= f.text_field :first_name, class:"resizedTextbox"%>
      </div>

      <div class="field">
        <b><%= f.label :last_name %><br /></b>
        <%= f.text_field :last_name, class:"resizedTextbox"%>
      </div>
    </div>

    <div class="field pt-5">
      <b><%= f.label :description %><br /></b>
      <%= f.text_area :description, class: "form-control"%>
    </div>

    <div class="field pt-3">
      <b><%= f.label :website %><br /></b>
      <%= f.text_field :website, class: "form-control"%>
    </div>

    <div class="field pt-3">
      <b><%= f.label :email %><br /></b>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field pt-3">
      <b><%= f.label :current_password %> <i></i><br/></b>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions py-2">
      <a><%= f.submit "Update", class: "btn btn-outline-light btn-primary btn-lg px-4" %></a>
    </div>

  <% end %>

</div>