<div class="container justify-content-center text-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% if @account.avatar %>
        <%= image_tag @account.avatar, class: "img-round"%>
      <% else %>  
        <div class="circle"></div>
      <% end %>
      <%= f.file_field :avatar %>
    </div>

    <div class="row row-cols-3">
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true%>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name%>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name%>
      </div>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "form-control"%>
    </div>

    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website, class: "form-control"%>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password %> <i></i><br/>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions pt-2">
      <%= f.submit "Update", class: "btn, btn-success" %>
    </div>

    <% end %>

  <h3>Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
