<% post.comments.each do |comment| %>
  <div class="row pb-2">
    <% if comment.account_id == comment.post.account_id %>
      <div class="col-3">
        <% if comment.account.avatar.persisted?%>
          <%= image_tag comment.account.avatar, width: "40px", class: "img-circle" %>
        <% else %>
          <%= image_tag "default.png", width: "40px"%>
        <% end %>
      </div>
      <div class="col-6 commentAuthor text-white">
        <%= comment.comment %>
      </div>
      <div class="col-3">
        <i><%= button_to fa_icon("trash"), comment_path(comment.id), method: :delete, class:"btnFollow", data: { turbo: false } if comment.account_id == current_account.id %></i>
      </div>
    <% else %>
      <div class="row">
        <div class="col-3">
          <i><%= button_to fa_icon("trash"), comment_path(comment.id), method: :delete, class:"btnFollow", data: { turbo: false } if comment.account_id == current_account.id %></i>
        </div>
        <div class="col-7 d-flex flex-md-row justify-content-end commentUser">
          <%= comment.comment %>
        </div>

        <div class="col-2">
          <% if comment.account.avatar.persisted?%>
            <%= image_tag comment.account.avatar, width: "40px", class: "img-circle" %>
          <% else %>
            <%= image_tag "default.png", width: "40px"%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
