<%= form_for @post, html: { multipart: true } do |f| %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.file_field :image, class: "form-control pb-1"%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control pb-1"%>
  </div>

  <a><%= f.submit "Save Post", class: "btn btn-primary submit"%></a>

<% end %>