<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <% if @account.avatar.persisted? %>
        <%= image_tag @account.avatar, class: "img-round"%>
      <% else %>  
        <%= image_tag "default.png", width: "100px"%>
      <% end %>

      <h1 class="pt-4 px-2"><%= @account.username %></h1>
      <b class="pt-3"><%= link_to fa_icon('pencil'), edit_account_registration_path if can_edit_profile?(@account.id) %></b>

      <% if !can_edit_profile?(@account.id) and already_follow?(@account.id) %>
        <%= form_tag unfollow_account_path, method: :delete do %>
          <%= hidden_field_tag :follow_id, @account.id %>
          <%= submit_tag "Unfollow", class: "btn btn-primary btn-sm mt-4" %>
        <% end %>
      <% elsif !can_edit_profile?(@account.id) and !already_follow?(@account.id) %>
        <%= form_tag follow_account_path, method: :post do %>
          <%= hidden_field_tag :follow_id, @account.id %>
          <%= submit_tag "Follow", class: "btn btn-primary btn-sm mt-4" %>
        <% end %>
      <% end %>
  </div>
  <div class="pt-4 d-flex justify-content-center">
    <b class="px-3"><%= "#{@account.posts.count} posts" %></br></b>
    <b class="px-3"><%= link_to "#{@account.total_following} followers", total_followers_path(@account.username), class:"account_details" %></br></b>
    <b class="px-3"><%= link_to "#{@account.total_followers} following", total_followers_path(@account.username), class:"account_details" %></br></b>
  </div>
  <div class="pt-4 row mx-auto justify-content-center">
    <%= @account.description %> 
  </div>

  <div class="row text-center">
    <% if @account.website %>
      <a><%= link_to @account.website, "https://#{@account.website}"%></a>
    <% end %>
  </div>
</div>

