<section>
  <div class="suggestions">
    <div class="suggestionBox">
      <h2><span> Suggestions for you </span></h2>
      <div class="row justify-content-md-center">
        <% @follower_suggestions.each do |account|%>
          <div class="pt-4 col col-lg-2 profile">
            <%= link_to profile_picture(account, 60), profile_path(account.username) %>
            <h3 class="fw"><%= link_to account.username, profile_path(account.username), class:"profileLink" %></h3>
            <p class="text-sm"><%= account.created_at > 2.days.ago ? "New user" : identical_followers(account) %></p>
              <%= form_tag follow_account_path, method: :post do %>
                <%= hidden_field_tag :follow_id, account.id %>
                <a><%= submit_tag "Follow", class: "btnFollow" %></a>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="posts">
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>