<h1 class="display-5 fw-bolder mb-2 d-flex justify-content-center">Dashboard</h1>

<div class= "container col-6">
  <div class="justify-content-md-center">
    <% @posts.each do |post| %>
      <div class="container text-center fw-bold p-1">
        <%= link_to (image_tag post.account.avatar, width: "50px", class: "img-circle"), profile_path(post.account.username) %>
        <%= link_to post.account.username, profile_path(post.account.username), class: "text-black text-decoration-none" %>
      </div>

      <%= image_tag post.image, width: "350px", class: "rounded mx-auto d-block" %>

      <div class="post-actions">
        <div class="like">
          <% like = current_account.likes.find_by(post: post) %>
          <% if like.nil? %>
            <%= button_to fa_icon('heart'), likes_path, params:{ like: { post_id: post.id }}, method: :post, class: "btn btn-primary btn-lg" %>
          <% else %>
            <%= button_to fa_icon("fa-light heart-crack"), like_path(like), method: :delete, class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      
        <i class="post-comment"><%= fa_icon('comment') %></i>
        <i class="post-share"><%= fa_icon('share') %></i>
      </div>

      <div class="post-details">
        <%# <p><strong><%= like.total_likes %> likes </strong></p> %>
        <p><strong>by <%= link_to post.account.username, profile_path(post.account.username), class: "text-black text-decoration-none" %> </strong></p>
        <%= post.description %>
        <p class="text-muted"><%= time_ago_in_words post.created_at %> ago </p>

      </div>

    <% end %>
  </div>
</div>