<div class="container mt-3">
  <div class="row">
    <div class="col-8 mb-2">
      <h1><%= @account.username %></h1>
      <p class="mb-0"><%= @account.posts.count %> posts</p>
      <p class="mb-0"><%= @account.total_followers %> followers</p>
      <p class="mb-0"><%= @account.total_following%> following</p>
    </div>
    <div class="img">
     <% @account.posts.each do |post| %>
      <%= image_tag post.image, width: "350px", class: "rounded mx-auto d-block" %>
    <% end %>
    </div>
  </div>
</div>